name: Build and Push Docker Image
permissions:
    contents: read

on:
    push:
        branches: ["master"]
    pull_request:
        branches: ["master"]

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Log in to Docker Hub
              uses: docker/login-action@v3
              with:
                  username: ${{ secrets.DOCKERHUB_USERNAME }}
                  password: ${{ secrets.DOCKERHUB_TOKEN }}

            - name: Build image
              uses: docker/build-push-action@v6
              with:
                  context: .
                  push: ${{ github.event_name == 'push' }}
                  tags: ${{ secrets.DOCKERHUB_USERNAME }}/attendease-facial-service:latest
                  file: ./Dockerfile

            - name: Print image details
              if: github.event_name == 'push'
              run: docker images ${{ secrets.DOCKERHUB_USERNAME }}/attendease-facial-service:latest
